[Desktop Entry]
Categories={{categories}}
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
StartupWMClass={{exec}}
Icon={{icon}}
Name=Nautilus
Keywords=coding;agent;phone;remote;sync;diff;merge;git;
Terminal=false
Type=Application
